
<p>hello</p>
<p><%= link_to 'login', new_user_session_path %></p>
<p><%= link_to 'logout', destroy_user_session_path, method: 'delete' %></p>
<p><%= link_to 'new message', new_message_path %></p>

<p><%= link_to 'problems', questions_path %></p>

<p><%= link_to 'search', search_path %></p>
<p></p>